// Create Color Variables here
// -------------------------

@color1: ;


// Typography Variables go here
// -------------------------

@bodyfontfamily: ;
@headingfontfamily: ;

@basefontsize: ;
@baselineheight: ;
@basefontcolor: ;
@basefontweight: ;

@headingfontweight: ;




